.btn 
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  border-radius: 2px;
  outline none

.block
  display block

.btn-ghost
  background-color: #5BA4E5;
  border-color: #4598e2;
  transition: background 0.2s ease, border-color 0.2s ease;
  border-top: rgba(255, 255, 255, 0.3) 1px solid;
  &:hover
    background-color: #2f8cde;
    border-color: #207ac9;

.btn.btn-default
  background-color: #f5f5f5;
  border-color: #e7e7e7;
  color #333 !important
  &:hover
    background-color white

[class*="btn-"]
  color white !important

.btn-danger
  background-color: #d9534f;
  border-color: #d43f3a;

.btn-success
  background-color: #5cb85c;
  border-color: #4cae4c;

.btn-info
  background-color: #5bc0de;
  border-color: #46b8da;

.btn-primary
  background-color: #337ab7;
  border-color: #2e6da4;

.raw-files
  .btn 
    margin-bottom 10px

.create
  width 140px