.main
  position relative
  z-index 99
  top 0
  padding-top 3rem
  margin-left 18rem
  padding-bottom 50px
  height 100%
  min-height 100vmin
  box-shadow(0 0 3px #D2D2D2)
  &.p 
    margin-right 18rem

.main-content
  position: relative;
  height: 100%;
  margin: 0 .875rem;
  padding: 1.25rem .25rem 0;
  font-size: .875rem;
  pointer-events: auto;

