.tabs
  width 900px
  margin 0 auto

.tab
  float left
  width 33.333%

.tab-trigger
  background #226fbe
  display block
  text-align center
  height 40px
  line-height @height

.ranks
  margin-top 20px

.rank
  padding 10px
  background #226fbe
  border-radius 3px
  .rank-count
    float left