<div class="modal" id="settings-modal">
  <div class="modal-header"><h4>Settings</h4></div>
  <div class="modal-content">
    <label for="password">Current password</label>
    <input type="password" style="margin-bottom:10px" class="form-control" id="currentPassword">
    <label for="password">New password</label>
    <input type="password" style="margin-bottom:10px" class="form-control" id="password">
    <label for="password">Password confirm</label>
    <input type="password" class="form-control" id="password-confirm">
  </div>
  <div class="modal-footer">
    <button class="modal-button" id="save-password">Save</button>
  </div>
</div>